<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<include resource="baseLogback.xml" />

	<!-- impl -->
	<logger name="com.xcf.scm.biz" level="INFO" >
	  <appender-ref ref="bizRolling"/>
	</logger>
  	<!-- facade -->
	<logger name="com.xcf.scm.web" level="INFO" >
	   <appender-ref ref="serviceRolling"/>
	</logger>

	<!-- error -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="errorRolling" />
		<appender-ref ref="startupRolling"/>
	</root>
</configuration>